---
import MainLayout from "../components/MainLayout.astro";
import Silk from "../components/react-bits/Silk";
import DeveloperBubbles from "../components/DeveloperBubbles";
---

<MainLayout title="Dolphinder - Developer Directory">
 
  <div class=" container">

      <DeveloperBubbles  />
   </div>
</MainLayout>
